h1 {
	margin: 0;
	font-size: 50px;
	background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.navbar a{
	margin: 40px;
	font-size: 20px;
	color: black;
}

body{
	font-family: "Comic Sans MS", "Comic Sans";
	color: black;
	background-color: #7CFC00
}

.header{
	background-color: #0099cc;
	background-image: linear-gradient(#0099cc, #ffa500);
	padding: 3%;
	margin: 2%;
	margin-bottom: 0;
	color: white;
	text-align: center;
}

.navbar{
	margin: 5%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFFF00;
	background-image: linear-gradient(#FFFF00, #ffa500);
	padding: 10px;
	text-align: center;
}

.content{
	padding: 1%; 
	background-color: white;
	margin-top: 0;
	margin-right: 0px;
	display: inline-block;
	float: left;
	width: 80%;
	height: 500px;
}

.sidebar{
	position: absolute;
	height: 504px;
	float: right;
	background-color: #FFFF00;
	margin: 10px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 10px;
	display: inline-block;

}

.container{
	margin: 2%;
	margin-top: 0;
	height: 500px;
	margin-bottom: 20px;
}

.about img {
	width: 20%;
	height: auto;
	float: left;
	margin-right: 20px;
}

.about p{
}

.about, .history {
	display: block;
	overflow: auto;
}

.sidebar a{
	color: #0099cc;
}